/* Dopasowanie CSS do górnego stylu */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    font-size: 13px;
}

h1 {
    text-align: center;
    font-size: 18px;
}

#updates-list {   
    max-width: 600px; /* Zwiększenie maksymalnej szerokości do 600px dla spójności */
    margin: 20px auto;
    padding: 0;
    list-style-type: none;
}

.update {
    max-width: 600px; /* Zwiększenie maksymalnej szerokości do 600px dla spójności */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

form {
    max-width: 600px; /* Zwiększenie maksymalnej szerokości do 600px dla spójności */
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px; /* Dopasowanie wielkości czcionki do górnego stylu */
}

input[type="text"],
textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px; /* Zmniejszenie wypełnienia dla lepszego dopasowania */
    font-size: 13px; /* Dopasowanie wielkości czcionki do górnego stylu */
}

button {
    background-color: transparent; /* Ustawienie tła na transparentne */
    color: #333; /* Zmiana koloru tekstu na ciemniejszy odcień */
    padding: 10px 20px;
    border: 1px solid #ccc; /* Dodanie obramowania */
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Pełna szerokość przycisku */
    font-size: 13px; /* Dopasowanie wielkości czcionki do górnego stylu */
}

button:hover {
    background-color: #f0f0f0; /* Lekko jasniejsze tło po najechaniu myszą */
}

.delete-button {
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    width: 100%; /* Pełna szerokość przycisku */
    font-size: 13px; /* Dopasowanie wielkości czcionki do górnego stylu */
}

.delete-button:hover {
    background-color: #d32f2f; /* Ciemniejszy odcień czerwonego przy najechaniu */
}
